body {
	font-family: 'Helvetica', sans-serif;
	margin: 0 auto;
	text-align: center;
}

img {width: 100%; display: block;}

#app-container {
	padding-top: 150px;
	background: linear-gradient(90deg, #2e8f92, #f49c6f);
	height: auto;
}

.column-container > * {
	display: inline-block;
	vertical-align: top;
	font-size: 0;
	text-align: center;
}

.nav-bar {
	position: fixed;
	z-index: 15;
	top: 0; left: 0; right: 0;
}

.head {
	width: 100%;
	font-size: 30px;
	font-weight: 500;
	background-color: #191919;
	color: white;
	padding: 15px;
	margin-bottom: 5px;
}

.head img {width: 50%;}

.routes {
	width: 22%;
	font-size: medium;
	background: rgba(25, 25, 25, .8);
	padding: 10px 0;
	border-radius: 25px;
	margin: 0 12px;
	border: 2px solid rgba(256, 256, 256, .8);
}

.routes:hover {background-color: grey;}

.routes a, .head a {
	text-decoration: none;
	color: white;
}

.main-content {
	width: 85%;
	margin: 0 auto;
}

.introducing {
	width: 60%;
	color: white;
	font-size: 30px;
}

.introducing h1 {
	margin-top: 0;
	margin-bottom: 15px;
	font-weight: 200;
}

.playlist {
	font-size: medium;
	width: 25%;
	margin: 15px 20px;
	position: relative;
}

.intros {
	width: 60%;
	font-size: medium;
	position: relative;
	margin-bottom: 25px;
}

.titles {
	width: 100%;
	background: rgba(0, 0, 0, .6);
	color: white;
	position: absolute;
	left: 0;
	right: 0;
	top: 40%;
	margin: auto;
}

.default {
	font-size: 50px;
	height: 550px;
}
